/* Your code here! */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=DynaPuff&family=Open+Sans&family=Roboto:wght@300&family=Shantell+Sans:wght@300;400;500&display=swap');

.container {
  color: rgb(167, 26, 146);
  display: flex;
  flex-direction: column;
  font-size: 26px;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  font-family: 'Roboto', sans-serif;
}

.button1 {
  background-color: rgb(246, 220, 234);
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.button2 {
  background-color: rgb(246, 220, 234);
  font-size: 16px;
  border-radius: 5px;
}
